@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 224 71.4% 4.1%;
    --card: 210 20% 98%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 210 20% 98%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 207 90% 54%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 90.0%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 215 27.9% 90.0%;
    --muted-foreground: 215 20.2% 45.1%;
    --accent: 142.1 76.2% 36.3%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 20.2% 65.1%;
    --input: 215 20.2% 65.1%;
    --ring: 207 90% 54%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 207 90% 54%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 142.1 76.2% 36.3%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 207 90% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    scroll-behavior: smooth;
  }
}

@layer utilities {
    .animate-marquee:hover {
        animation-play-state: paused;
    }
}


.bg-grid {
    background-color: hsl(var(--background));
    background-image:
        linear-gradient(to right, hsl(var(--border)) 1px, transparent 1px),
        linear-gradient(to bottom, hsl(var(--border)) 1px, transparent 1px);
    background-size: 4rem 4rem;
    animation: grid 15s linear infinite;
}

.bg-grid-slow {
    background-color: hsl(var(--background));
    background-image:
        linear-gradient(to right, hsl(var(--border)) 1px, transparent
        1px),
        linear-gradient(to bottom, hsl(var(--border)) 1px, transparent 1px);
    background-size: 8rem 8rem;
    animation: grid 30s linear infinite;
}

    